
	p {
	background-color: yellow;
	width: 1250px;
    border: 1px solid black;
	}
	
	li {
  color: red;
}

	h1 {
  color: green;
}
	h2 {
  color: orange;
}

	h3 {
  color: pink;
}

	footer {
  color: purple;
}